.pagination-list {
    list-style: none;
    display: flex;
    column-gap: 4px;
    justify-content: center;
}

.pagination-item {
    cursor: pointer;
    background-color: beige;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid rgb(0, 128, 255);
}

.pagination-btn {
    background-color: beige;
    color: darkslategrey;
}